.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  -webkit-box-shadow: 0 4px 6px -6px #320246;
  -moz-box-shadow: 0 4px 6px -6px #ff0404;
  box-shadow: 0 4px 6px -6px #320246;
  height: 72px;
}

.top-nav-bar__logo {
  text-decoration: overline;
  font-weight: 500;
  font-size: 24px;
  color: #32015d;
  text-underline-position: auto;
  margin-left: 24px;
}